body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    font-size: 20px;
}
a:link{
    text-decoration: none; 
    color: palevioletred;
}

a:visited{
    text-decoration: none; 
    color: palevioletred;
}

a:hover{
    font-size: larger;
    color: rgb(112, 200, 238);
    text-decoration: underline;
}

.rawr{
    color: orange;
}

.kananoi{
    text-align: right;
}

.tengahyah{
    text-align: center;
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }